$color-nano: #141414;
$color-nanolight: #222222;
$color-nanolightlight: #777777;
$color-range: #ee720d;
$color-white: #ffffff;
$color-ellow: #f2bc0c;
$color-ellowdark: #a58621;
$color-lue: #1EAEDB;

$font-stack: 'Raleway', sans-serif;
$font-stack-mono: 'Ubuntu Mono', monospace;

$break-small: 400px;
$break-large: 600px;
$break-larger: 1200px;

select:-moz-focusring
{
    color: transparent;
    text-shadow: 0 0 0 #000;
}

body
{
    background-color: $color-nano;
    color: $color-white;
}

a
{
    color: $color-range;
    text-decoration: none;
}

pre
{
    tab-size: 4;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    -webkit-tab-size: 4;
}

code
{
    border: none;
    background-color: $color-nanolight;
    font-family: $font-stack-mono;
}

select
{
    background-color: $color-nanolight;
    color: $color-white;
    border: none;

    &:hover, &:focus
    {
        border: none;
        outline: none;
        color: $color-white;
    }
}

label
{
    display: initial;
    font-weight: normal;
}

.expires-in, .language
{
    display: inline-block;

    @media all and (max-width: 640px)
    {
        display: block;
    }

    .select-label
    {
        background-color: $color-nanolight;
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        padding: 0px 10px;
        height: 38px;
        line-height: 38px;
        display: inline-block;
        margin-right: -10px;
    }

    select
    {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.language
{
    float: right;

    @media all and (max-width: 640px)
    {
        float: left;
    }
}

.container
{
    width: 90%;
}

.codeblock-text
{
    code
    {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;

        a
        {
            text-decoration: underline;
            font-weight: bold;
            letter-spacing: 0.1rem;
        
            span.hljs-keyword
            {
                color: $color-range;
            }

            &:hover
            {
                span.hljs-keyword
                {
                    color: $color-lue;
                }
            }
        }
    }

    h1
    {
        display: inline;
        font-weight: bold;
        letter-spacing: 0.2rem;
    }
}

.page-title
{
    background-color: #222222;
    display: block;
    border-radius: 0.3rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0 .2rem;
    padding-left: 3.2rem;
    padding-top: 1rem;
    text-decoration: underline;
}

.page-nav
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

code.hljs
{
    background-color: $color-nanolight;
    font-family: $font-stack-mono;
}

.hljs
{
    table
    {
        margin-bottom: 0;
    }

    td
    {
        border: none;
    }
}

td.hljs-ln-numbers
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: #58585b;
    vertical-align: top;
}

.hljs-ln td
{
    padding-right: 10px !important;
}

#text-editor
{
    height: 75vh;
    margin-bottom: 2rem;

    @media all and (max-width: 640px)
    {
        margin-top: 7rem;
    }
}

.hidden
{
    display: none;
}

#plaintext-editor
{
    height: 75vh;
    width: 100%;
    margin-bottom: 2rem;
    background-color: $color-nanolight;
    border: none;
    font-family: $font-stack-mono;
    font-size: 1.75rem;
    line-height: 2rem;
    resize: none;
}

.note
{
    border-left: 5px solid $color-lue;
    padding-left: 2rem;
    color: $color-white;
    font-style: italic;
}

.button.button-primary
{
    background-color: $color-nanolight;
    border: none;

    &:hover, &:focus
    {
        border: none;
        background-color: $color-nanolight;
    }
}

h3
{
    .anchor-link
    {
        font-size: 1.5rem;
        margin-left: 2rem;
        float: right;
        margin-top: 7px;
    }
}

.http-method
{
    color: $color-range;
    font-size: 2rem;
    margin-right: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    display: inline-block;
    margin-bottom: 2rem;
}

.http-url
{
    font-size: 2rem;
}

table.http-body
{
    background-color: $color-nanolight;
    border-radius: 0.3rem;
    border-color: $color-nano;
    width: 100%;

    th, td
    {
        padding-left: 1rem;
        border: none;
    }
}

.pastemyst-content
{
    margin-top: 6rem;
    margin-bottom: 6rem;

    @media all and (max-width: 640px)
    {
        font-size: 0.7em;
    }

    code
    {
        border: 2px solid $color-range;
        box-sizing: border-box;
        white-space: pre-wrap;
    }
}

footer
{
    margin: 3rem 0;

    p
    {
        margin: 0;
        display: inline;
    }

    .number-of-pastes
    {
        float: right;
    }

    .copyright-symbol
    {
        font-family: $font-stack;
    }
}

@media all and (max-width: 620px)
{
    footer
    {
        p
        {
            display: block;
        }

        .number-of-pastes
        {
            float: none;
            margin-bottom: 2rem;
        }
    }
}
