*
{
    font-family: var(--font-stack);
    margin: 0;
    padding: 0;
    outline-color: var(--color-mystge);
}

body
{
    font-size: var(--font-size-normal);
    background-color: var(--color-nano);
    color: var(--color-white);
}

a
{
    color: var(--color-mystge);
    text-decoration: none;
}

a:hover
{
    color: var(--color-mystlue);
    cursor: pointer;
}

#container
{
    width: 90%;
    margin: 0 auto;
    max-width: 960px;
    box-sizing: border-box;
}

.block
{
    box-sizing: border-box;
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    margin-top: 20px;
    padding: 0.5rem 1rem;
}

.block h3, .block p
{
    margin-bottom: 20px;
}

.block p:last-child
{
    margin-bottom: 0;
}
