body {
  background-color: #141414;
  color: #ffffff; }

a {
  color: #ee720d;
  text-decoration: none; }

code {
  border: none;
  background-color: #222222;
  font-family: "Ubuntu Mono", monospace; }

select {
  background-color: #222222;
  color: #ffffff;
  border: none; }
  select:hover, select:focus {
    border: none;
    outline: none; }

.editor-language {
  float: right; }

.container {
  width: 90%; }

.codeblock-text code {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }
  .codeblock-text code a {
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 0.1rem; }

.codeblock-text h1 {
  display: inline;
  font-weight: bold;
  letter-spacing: 0.2rem; }

.page-title {
  background-color: #222222;
  display: block;
  border-radius: 0.3rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0 .2rem;
  padding-left: 3.2rem;
  padding-top: 1rem;
  text-decoration: underline; }

.page-nav {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

code.hljs {
  background-color: #222222;
  font-family: "Ubuntu Mono", monospace; }

.hljs table {
  margin-bottom: 0; }

.hljs td {
  border: none; }

td.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  color: #58585b;
  vertical-align: top; }

.hljs-ln td {
  padding-right: 10px !important; }

#text-editor {
  height: 75vh;
  margin-bottom: 2rem; }

.note {
  border-left: 5px solid #1EAEDB;
  padding-left: 2rem;
  color: #ffffff;
  font-style: italic; }

.button.button-primary {
  background-color: #222222;
  border: none; }
  .button.button-primary:hover, .button.button-primary:focus {
    border: none;
    background-color: #222222; }

h3 .anchor-link {
  font-size: 1.5rem;
  margin-left: 2rem;
  float: right;
  margin-top: 7px; }

.http-method {
  color: #ee720d;
  font-size: 2rem;
  margin-right: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  display: inline-block;
  margin-bottom: 2rem; }

.http-url {
  font-size: 2rem; }

table.http-body {
  background-color: #222222;
  border-radius: 0.3rem;
  border-color: #141414;
  width: 100%; }
  table.http-body th, table.http-body td {
    padding-left: 1rem;
    border: none; }

.pastemyst-content {
  margin-top: 6rem;
  margin-bottom: 6rem; }
  .pastemyst-content code {
    border: 2px solid #ee720d;
    box-sizing: border-box; }

footer {
  margin: 3rem 0; }
  footer p {
    margin: 0;
    display: inline; }
  footer .number-of-pastes {
    float: right; }
  footer .copyright-symbol {
    font-family: "Raleway", sans-serif; }

@media all and (max-width: 620px) {
  footer p {
    display: block; }
  footer .number-of-pastes {
    float: none;
    margin-bottom: 2rem; } }
