#paste .title.untitled
{
    color: var(--color-nanolightlight);
}

#paste .paste-header
{
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    font-size: var(--font-size-medium);
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#paste .paste-header .title
{
    align-self: center;
}

#paste .paste-header .set-public-on-profile-paste
{
    align-self: center;
    margin-right: 20px;
}

#paste .paste-header .set-public-on-profile-paste button
{
    background-color: transparent;
    border: none;
}

#paste .paste-header .set-public-on-profile-paste button:hover
{
    cursor: pointer;
}

#paste .paste-header .set-public-on-profile-paste button .fa-eye
{
    font-size: var(--font-size-normal);
}

#paste .paste-header .set-public-on-profile-paste button.public .fa-eye
{
    color: var(--color-white);
}

#paste .paste-header .set-public-on-profile-paste button.private .fa-eye
{
    color: var(--color-nanolightlight);
}

#paste .paste-header .delete-paste
{
    align-self: center;
}

#paste .paste-header .delete-paste button
{
    background-color: transparent;
    border: none;
}

#paste .paste-header .delete-paste button:hover
{
    cursor: pointer;
}

#paste .paste-header .delete-paste .fa-trash
{
    color: var(--color-mysted);
    font-size: var(--font-size-normal);
}

#paste .paste-pasties .pasty
{
    margin-bottom: 20px;
}

#paste .paste-pasties .pasty .pasty-header
{
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 2px solid var(--color-mystge);
    padding: 0.5rem 1rem;
    font-size: var(--font-size-normal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#paste .paste-pasties .pasty .pasty-header .lang
{
    margin-left: auto;
    margin-right: 20px;
    border-radius: var(--border-radius);
    background-color: var(--color-nanonotsolight);
    color: white;
    padding: 0 0.5rem;
}

#paste .CodeMirror
{
    border-radius: var(--border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: auto;
}

#paste .paste-meta
{
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    line-height: 2rem;
}

#paste .paste-meta .highlight
{
    color: var(--color-mystge);
}
