#profile form input[type=submit]
{
    display: none;
}

#profile .paste-search
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#profile .paste-search .label
{
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.5rem 1rem;
}

#profile .paste-search .label label
{
    background-color: var(--color-nano);
    border-radius: var(--border-radius);
    padding: 0.25rem 1rem;
}

#profile .paste-search input
{
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
    font-size: var(--font-size-normal);
    width: 100%;
}

#profile .empty
{
    padding: 0.5rem 1rem;
}

#profile .pastes
{
    margin-top: 20px;
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
}

#profile .pastes .paste
{
    display: block;
    border-bottom: 1px solid var(--color-nano);
    padding: 0.5rem 1rem;
}

#profile .pastes .paste:last-child
{
    margin-bottom: 0;
    border-bottom: none;
}

#profile .pastes .paste:hover .info
{
    color: white;
}

#profile .pastes .paste .title
{
    display: flex;
}

#profile .pastes .paste .title p
{
    align-self: center;
}

#profile .pastes .paste:hover .title p.untitled
{
    color: var(--color-mystlue);
}

#profile .pastes .paste .title p.untitled
{
    color: var(--color-nanolightlight);
}

#profile .pastes .paste .info
{
    color: var(--color-nanolightlight);
    font-size: var(--font-size-small);
}

#profile .pastes .paste .info p
{
    background-color: var(--color-nano);
    border-radius: var(--border-radius);
    padding: 0.25rem 1rem;
    margin-top: 10px;
}

@media screen and (min-width: 720px)
{
    #profile .pastes .paste
    {
        display: flex;
        flex-direction: row;
    }
    
    #profile .pastes .paste .info
    {
        margin-left: auto;
        display: flex;
        flex-direction: row;
    }

    #profile .pastes .paste .info p
    {
        margin: 0;
    }

    #profile .pastes .paste .info .expires-in
    {
        margin-right: 20px;
    }
}
