#public-profile .public-user-info
{
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
}

#public-profile .public-user-info .avatar
{
    width: 50px;
    border-radius: var(--border-radius);
    align-self: center;
    margin-right: 20px;
}

#public-profile .public-user-info .username
{
    align-self: center;
}
