@import "variables";
@import "fonts";

@import "components/darcula";
@import "components/codemirror";
@import "components/highlight";
@import "components/inputs";
@import "components/tooltip";
@import "components/button";
@import "components/header";
@import "components/footer";
@import "components/navigation";
@import "components/dropdown";
@import "components/modal";

@import "pages/home";
@import "pages/paste";

body
{
    background-color: $color-nano;
    color: $color-white;
    font-family: $font-stack;
    font-size: $font-size-normal;
}

a
{
    color: $color-mystge;
    text-decoration: none;

    &:hover
    {
        color: $color-mystlue;
        cursor: pointer;
    }
}

#container
{
    width: 90%;
    margin: 0 auto;
    max-width: 960px;
    box-sizing: border-box;
}
