#history .edit
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#history .edit:first-child
{
    margin-top: 0;
}

#history .edit .edit-header
{
    background-color: var(--color-nano);
    padding: 0.25rem 1rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#history .edit .edit-header .jump
{
    margin-left: auto;
}

#history .edit .edit-header p,
#history .edit .edit-header span
{
    margin-bottom: 0;
    white-space: pre;
}

#history .edit .subedit
{
    margin-left: 20px;
}

#history .edit .title-change .before
{
    color: var(--color-mysted);
    margin-right: 10px;
}

#history .edit .title-change .after
{
    color: var(--color-mysteen);
    margin-left: 10px;
}

@media screen and (max-width: 720px)
{
    #history .edit .title-change
    {
        display: flex;
        flex-direction: column;
    }

    #history .edit .title-change .arrow
    {
        transform: rotate(90deg);
        width: 10px;
    }

    #history .edit .title-change .after
    {
        margin-left: 0px;
    }
}