#history .edit
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#history .edit:first-child
{
    margin-top: 0;
}

#history .edit .edit-header
{
    background-color: var(--color-nano);
    padding: 0.25rem 1rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#history .edit .edit-header .jump
{
    margin-left: auto;
}

#history .edit .edit-header p,
#history .edit .edit-header span
{
    margin-bottom: 0;
    white-space: pre;
}

#history .edit .subedit
{
    margin-left: 20px;
}

#history .edit .title-change .before
{
    color: var(--color-mysted);
    margin-right: 10px;
}

#history .edit .title-change .after
{
    color: var(--color-mysteen);
    margin-left: 10px;
}

#history .edit .change .CodeMirror .CodeMirror-cursor
{
    display: none;
}

#history .edit .change .CodeMirror
{
    background-color: var(--color-nano);
    border-radius: var(--border-radius);
    height: auto;
    margin-top: 10px;
    margin-left: 20px;
}

#history .edit .change .CodeMirror .CodeMirror-gutters
{
    background-color: var(--color-nano);
}

#history .edit .pasty-added-header
{
    margin-left: 20px;
    margin-top: 10px;
    background-color: var(--color-nano);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 2px solid var(--color-mystlue);
}

#history .edit .pasty-added-header p
{
    margin-bottom: 0;
}

#history .edit .pasty-added-header .untitled
{
    color: var(--color-nanolightlight);
}

#history .edit .pasty-added-header .lang
{
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    padding: 0 0.5rem;
}

#history .edit .pasty-added-content .CodeMirror
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
}

@media screen and (max-width: 720px)
{
    #history .edit .title-change
    {
        display: flex;
        flex-direction: column;
    }

    #history .edit .title-change .arrow
    {
        transform: rotate(90deg);
        width: 10px;
    }

    #history .edit .title-change .after
    {
        margin-left: 0px;
    }
}