#home .paste-options-bottom
{
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    bottom: 0;
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    padding: 1rem;
    z-index: 100;
    justify-content: space-between;
    margin-top: 20px;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

#home .paste-options-bottom .paste-buttons
{
    display: flex;
    flex-direction: column;
    width: 70%;
}

#home .paste-options-bottom .paste-buttons #create-paste
{
    background-color: var(--color-mystge);
    color: var(--color-nano);
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    margin-bottom: 20px;
    width: 30%;
    text-align: center;
}

#home .paste-options-bottom .paste-buttons #create-paste:hover
{
    background-color: var(--color-mystlue);
}

#home .paste-options-bottom .paste-options-bottom-options
{
    display: flex;
    flex-direction: column;
}

#home .paste-options-bottom .paste-options-bottom-options .disabled
{
    color: var(--color-nanolightlight);
}

#home .paste-options-bottom-sticky
{
    -webkit-box-shadow: 0px -4px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -4px 13px 1px rgba(0,0,0,0.75);
    box-shadow: 0px -4px 13px 1px rgba(0,0,0,0.75);
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#home .paste-options-bottom-1px
{
    height: 1px;
    background-color: var(--color-nano);
}

#home .paste-options-bottom .new-pasty-editor
{
    flex: 1 0 50%;
}

#home #paste-create-form-hidden
{
    display: none;
}

#home #encrypt-options.hidden
{
    display: none;
}

#home #encrypt-options p
{
    font-size: var(--font-size-small);
    margin-top: 10px;
}

#home #encrypt-options input
{
    background-color: var(--color-nano);
    border: none;
    color: var(--color-white);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    font-size: var(--font-size-normal);
    width: 30%;
}
