#paste .title.untitled
{
    color: var(--color-nanolightlight);
}

#paste .paste-pasties .pasty
{
    margin-bottom: 20px;
}

#paste .paste-pasties .pasty .pasty-header
{
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 2px solid var(--color-mystge);
    padding: 0.5rem 1rem;
    font-size: var(--font-size-normal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 9999999;
}

#paste .paste-pasties .pasty .pasty-header .lang,
#paste .paste-pasties .pasty .pasty-header a
{
    margin-left: auto;
    border-radius: var(--border-radius);
    background-color: var(--color-nanonotsolight);
    color: white;
    padding: 0 0.5rem;
}

#paste .paste-pasties .pasty .pasty-header a
{
    margin-left: 20px;
    border-radius: var(--border-radius);
    background-color: var(--color-mystge);
    color: var(--color-nanolight);
    padding: 0 0.5rem;
}

#paste .paste-pasties .pasty .pasty-header a:hover
{
    background-color: var(--color-mystlue);
}

#paste .CodeMirror
{
    border-radius: var(--border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: auto;
}

#paste .CodeMirror .CodeMirror-cursor
{
    display: none;
}

#paste .CodeMirror .CodeMirror-linenumber:hover
{
    cursor: pointer;
}

#paste .paste-meta
{
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    line-height: 2rem;
}

#paste .paste-meta .highlight
{
    color: var(--color-mystge);
}

#paste .paste-meta .tags .tag
{
    background-color: var(--color-nano);
    border-radius: var(--border-radius);
    padding: 0.25rem 0.5rem;
}

#paste .markdown-rendered code
{
    display: block;
}

#paste .markdown-rendered .hidden
{
    display: none;
}
