#profile form input[type=submit]
{
    display: none;
}

#profile .paste-search
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#profile .paste-search .label
{
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.5rem 1rem;
}

#profile .paste-search .label label
{
    background-color: var(--color-nano);
    border-radius: var(--border-radius);
    padding: 0.25rem 1rem;
}

#profile .paste-search input
{
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
    font-size: var(--font-size-normal);
    width: 100%;
}

#profile .empty
{
    padding: 0.5rem 1rem;
}

#profile .tags-pastes
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#profile .tags
{
    width: 30%;
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    margin-right: 20px;
    padding: 0.5rem 0;
}

#profile .tags ul
{
    list-style: none;
}

#profile .tags ul ul
{
    padding-left: 20px;
}

#profile .tags li a
{
    display: block;
    padding: 0.25rem 1rem;
}

#profile .tags li a:hover
{
    background-color: var(--color-mystlue);
    color: var(--color-nanolight);
}

#profile .tags li a.selected
{
    background-color: var(--color-mystge);
    color: var(--color-nanolight);
}

#profile .pastes
{
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    width: 70%;
}

#profile .pastes .paste
{
    display: flex;
    flex-direction: column;
}

#profile .pastes .paste.border-bottom
{
    border-bottom: 2px solid var(--color-nano);
}

#profile .pastes .paste:last-child
{
    border-bottom: none;
}

#profile .pastes .paste .title
{
    padding: 0.5rem 1rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#profile .pastes .paste .title .info-icons
{
    color: var(--color-mystlue);
}

#profile .pastes .paste .info
{
    padding: 0 1rem;
    margin-bottom: 5px;
}

#profile .pastes .paste .info .created-at .tooltip-text,
#profile .pastes .paste .info .edited-at .tooltip-text
{
    width: 350px;
    margin-left: -150px;
}

#profile .pastes .paste .info p
{
    color: var(--color-nanolightlight);
    font-size: var(--font-size-small);
    background-color: var(--color-nano);
    display: inline-block;
    border-radius: var(--border-radius);
    padding: 0.25rem 1rem;
    margin-right: 10px;
    margin-top: 5px;
}

#profile .pastes .paste .info .fas
{
    margin-right: 10px;
    width: 20px;
    color: var(--color-mystlue);
}

#profile .pastes .paste:last-child .lang-stats .lang:first-child
{
    border-bottom-left-radius: var(--border-radius);
}

#profile .pastes .paste:last-child .lang-stats .lang:last-child
{
    border-bottom-right-radius: var(--border-radius);
}

#profile.public-profile .pastes
{
    width: 100%;
    margin-top: 20px;
}

#profile .supporter-badge
{
    margin-left: 20px;
    align-self: center;
    color: var(--color-mystge);
}
