#settings .settings-block
{
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    margin-top: 20px;
    padding: 0.5rem 1rem;
}

#settings .settings-block h2
{
    margin-bottom: 20px;
    margin-top: 20px;
}

#settings .settings-block h2:first-child
{
    margin-top: 0;
}

#settings .settings-block .save
{
    background-color: var(--color-mystge);
    color: var(--color-nano);
    padding: 0.25rem 1rem;
    margin-top: 20px;
    display: inline-block;
    border-radius: var(--border-radius);
    outline: none;
    border: none;
    font-size: var(--font-size-normal);
}

#settings .settings-block .save:hover
{
    background-color: var(--color-mystlue);
    cursor: pointer;
}

#settings .settings-block p.description
{
    font-size: var(--font-size-small);
    color: var(--color-nanolightlight);
    margin-bottom: 20px;
}

#settings .settings-block p.disabled
{
    color: var(--color-mystlue);
    display: inline;
}

#settings .settings-block .username
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

#settings .settings-block .username .available
{
    color: var(--color-mysteen);
}

#settings .settings-block .username .not-available
{
    color: var(--color-mysted);
}

#settings .settings-block .username .not-valid
{
    color: var(--color-mysted);
}

#settings .settings-block .username p
{
    margin-right: 20px;
}

#settings .settings-block .username input
{
    width: 250px;
    box-sizing: border-box;
    background-color: var(--color-nano);
    color: var(--color-white);
    border-radius: var(--border-radius);
    border: none;
    font-size: var(--font-size-normal);
    padding: 0.25rem 0.5rem;
    font-family: var(--font-stack);
    margin-right: 20px;
}

#settings .settings-block .avatar
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

#settings .settings-block .avatar p
{
    margin-right: 20px;
}

#settings .settings-block .default-lang
{
    display: flex;
    flex-direction: row;
}

#settings .settings-block .default-lang p
{
    margin-right: 20px;
    align-self: center;
}

#settings .settings-block .default-lang .dropdown summary
{
    background-color: var(--color-nano);
}

#settings .settings-block .token
{
    background-color: var(--color-nano);
    color: var(--color-white);
    padding: 0.25rem 1rem;
    border-radius: var(--border-radius);
    margin-right: 20px;
}

#settings .settings-block .regen
{
    display: inline-block;
    margin-top: 20px;
}

#settings .settings-block .delete-account i
{
    color: var(--color-mysted);
    margin-right: 10px;
}

#settings .settings-block .delete-account a
{
    color: var(--color-mysted);
}

#settings .settings-block .delete-account a:hover
{
    color: var(--color-mystlue);
}
