$color-white: white;
$color-nano: #141414;
$color-nanolight: #222222;
$color-mystge: #ee720d;
$color-mystlu: #0fa0ce;

$border-radius-std: 0.3rem;

$break-small: 640px;

$font-stack: 'Ubuntu Mono', monospace;

$font-size-normal: 1.2rem;
$font-size-big: 3rem;
