footer
{
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 880px)
{
    footer
    {
        flex-direction: column;
    }

    footer .copyright
    {
        margin-bottom: 20px;
    }

    footer .theme
    {
        margin-bottom: 20px;
    }
}
