footer
{
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
