#header
{
    margin-bottom: 20px;
}

#header h1
{
    font-size: var(--font-size-big);
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 20px;
}

#header h1 .icon
{
    width: 50px;
    position: relative;
    top: 15px;
}

#header .description
{
    line-height: 1.25;
    margin: 0;
    margin-bottom: 20px;
}

#header span.alpha
{
    background-color: var(--color-mystlue);
    border-radius: var(--border-radius);
    padding: 2px 4px;
    color: var(--color-nano);
}

#header .warning
{
    background-color: var(--color-mysted);
    padding: 0.5rem 1rem;
    margin-bottom: 20px;
    color: var(--color-nano);
    border-radius: var(--border-radius);
}
