nav
{
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    font-size: var(--font-size-medium);
    display: flex;
    flex-direction: row;
}

nav .wordwrap
{
    margin-left: auto;
    align-self: center;
}

nav .fullwidth
{
    margin-left: 20px;
    margin-right: 20px;
    align-self: center;
}

nav ul
{
    padding: 1rem;
    margin: 0;
    margin-right: 20px;
}

nav ul li
{
    display: inline;
}

nav ul li::after
{
    content: "-";
}

nav ul li.no-delimiter::after
{
    content: "\A";
    white-space: pre;
}

nav ul li.donate a
{
    font-weight: bold;
    background-color: var(--color-mystge);
    color: var(--color-nanolight);
    padding: 0.25rem 0.5rem;
    border-radius: var(--border-radius);
}

nav ul li.donate a:hover
{
    background-color: var(--color-mystlue);
}
