nav
{
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    font-size: var(--font-size-normal);
    display: flex;
    flex-direction: row;
}

nav .wordwrap
{
    margin-left: auto;
    align-self: center;
}

nav .fullwidth
{
    margin-left: 20px;
    margin-right: 20px;
    align-self: center;
}

nav .wordwrap, nav .fullwidth
{
    color: var(--color-nanolightlight);
}

nav .wordwrap:hover, nav .fullwidth:hover
{
    color: var(--color-mystlue);
}

nav .wordwrap[active]:not(:hover), nav .fullwidth[active]:not(:hover)
{
    color: var(--color-mystge);
}

nav ul
{
    padding: 1rem;
    margin: 0;
    margin-right: 20px;
    width: 100%;
}

nav ul li
{
    display: inline;
    margin-right: 20px;
}

nav ul li::before
{
    content: "";
}

nav ul li:first-child::before
{
    content: "";
}

@media only screen and (max-width: 720px)
{
    nav ul
    {
        font-size: var(--font-size-small);
        line-height: 1.75;
        padding: 0.5rem 1rem;
    }
}
