.paste-header
{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.paste-header .top
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.5rem 1rem;
    font-size: var(--font-size-medium);
}

.paste-header .left
{
    display: flex;
    flex: 1;
}

.paste-header .left .current-edit
{
    color: var(--color-nanolightlight);
    margin-right: 20px;
    font-size: var(--font-size-small);
    align-self: center;
    flex-shrink: 0;
}

.paste-header .title
{
    align-self: center;
    font-size: var(--font-size-normal);
    margin-right: 20px;
}

.paste-header .right
{
    align-items: baseline;
}

.paste-header .right a
{
    color: var(--color-white);
    font-size: var(--font-size-normal);
    margin-right: 20px;
}

.paste-header .right a:last-child
{
    margin-right: 0;
}

.paste-header .right a.history
{
    background-color: var(--color-mystge);
    color: var(--color-nano);
    border-radius: var(--border-radius);
    padding: 0 0.5rem;
    margin-right: 20px;
}

.paste-header .right a.history:hover
{
    background-color: var(--color-mystlue);
}

.paste-header .set-private-paste
{
    margin-right: 20px;
}

.paste-header .set-public-on-profile-paste
{
    margin-right: 20px;
}

.paste-header button
{
    background-color: transparent;
    border: none;
}

.paste-header button:hover
{
    cursor: pointer;
}

.paste-header button .fas
{
    font-size: var(--font-size-normal);
}

.paste-header .set-anon-paste
{
    margin-right: 20px;
    width: 20px;
    height: 20px;
}

.paste-header .set-anon-paste img
{
    width: 25px;
    position: relative;
    top: 5px;
}

.paste-header .set-private-paste button.private .fas
{
    color: var(--color-mystge);
}

.paste-header .set-private-paste button.not-private .fas
{
    color: var(--color-nanolightlight);
}

.paste-header .set-public-on-profile-paste button.public .fas
{
    color: var(--color-mystge);
}

.paste-header .set-public-on-profile-paste button.not-public .fas
{
    color: var(--color-nanolightlight);
}

.paste-header .delete-paste button
{
    background-color: transparent;
    border: none;
}

.paste-header .delete-paste button:hover
{
    cursor: pointer;
}

.paste-header .delete-paste .fa-trash
{
    color: var(--color-mysted);
    font-size: var(--font-size-normal);
}

.paste-header .star
{
    margin-right: 20px;
}

.paste-header .star i
{
    margin-right: 5px;
}

.paste-header .star .fas
{
    color: var(--color-white);
}

.paste-header .star .fas.starred
{
    color: var(--color-mystge);
}

.paste-header .star .amount
{
    color: var(--color-white);
    font-size: var(--font-size-normal);
}

.paste-header .lang-stats .lang:first-child
{
    border-bottom-left-radius: var(--border-radius);
}

.paste-header .lang-stats .lang:last-child
{
    border-bottom-right-radius: var(--border-radius);
}
