::-webkit-scrollbar
{
    width: 12px;
}

::-webkit-scrollbar-track
{
    background-color: var(--color-nano);
}

::-webkit-scrollbar-thumb
{
    background-color: var(--color-nanolight);
}

div.CodeMirror-vscrollbar::-webkit-scrollbar
{
    width: 5px;
}

div.CodeMirror-hscrollbar::-webkit-scrollbar
{
    height: 5px;
}

div.CodeMirror-vscrollbar::-webkit-scrollbar-track,
div.CodeMirror-hscrollbar::-webkit-scrollbar-track
{
    background-color: var(--color-nanolight);
}

div.CodeMirror-vscrollbar::-webkit-scrollbar-thumb,
div.CodeMirror-hscrollbar::-webkit-scrollbar-thumb
{
    background-color: var(--color-nanolightlight);
}

code.hljs::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
}

code.hljs::-webkit-scrollbar-track
{
    background-color: #2b2b2b;
}

code.hljs::-webkit-scrollbar-thumb
{
    background-color: var(--color-nanolightlight);
}
