.user-info
{
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.user-info .left, .right
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-info .left .avatar
{
    margin-right: 20px;
}

.user-info .right
{
    margin-bottom: 20px;
}

.user-info .right *
{
    margin-right: 30px;
}

.user-info .avatar
{
    width: 50px;
    border-radius: var(--border-radius);
}

@media only screen and (max-width: 600px)
{

}
