.markdown-rendered
{
    background-color: var(--color-nanolight);
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
}

.markdown-rendered h1,
.markdown-rendered h2,
.markdown-rendered h3,
.markdown-rendered h4
{
    padding: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

.markdown-rendered code
{
    background-color: var(--color-nano);
    border-radius: var(--border-radius);
    padding: 0 0.25rem;
    display: inline-block;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.markdown-rendered pre
{
    margin-bottom: 20px;
}

.markdown-rendered pre code
{
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

.markdown-rendered p
{
    margin-bottom: 20px;
    font-size: var(--font-size-small);
}

.markdown-rendered ul,
.markdown-rendered ol
{
    padding-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: var(--font-size-small);
    line-height: 1.25;
}

.markdown-rendered ul ul,
.markdown-rendered ol ul,
.markdown-rendered ul ol,
.markdown-rendered ol ol
{
    margin-bottom: 0;
}

.markdown-rendered table
{
    background-color: var(--color-nano);
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    margin-bottom: 20px;
    font-size: var(--font-size-small);
    width: 100%;
    overflow-x: auto;
}

.markdown-rendered tr th
{
    padding-bottom: 20px;
    color: var(--color-mystge);
    text-align: left;
}

.markdown-rendered tr th[align="right"]
{
    text-align: right;
}

.markdown-rendered table th,
.markdown-rendered table td
{
    padding-right: 40px;
    padding-bottom: 10px;
}

.markdown-rendered table tbody tr td:first-child
{
    color: var(--color-mystge);
}

.markdown-rendered table tbody tr td:last-child
{
    width: 100%;
}

.markdown-rendered hr
{
    background-color: var(--color-nano);
    opacity: 0.75;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    height: 2px;
}

.markdown-rendered blockquote
{
    border-left: 5px solid var(--color-nanolightlight);
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.markdown-rendered img
{
    max-width: 35%;
}
