.tooltip
{
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text
{ 
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    border-radius: var(--border-radius);
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -90px;
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: var(--font-size-small);
}

.tooltip .tooltip-text::after
{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltip-text
{
    visibility: visible;
    opacity: 1;
}
