.title
{
    display: flex;
    margin-top: 25px;

    input
    {
        border-radius: $border-radius-std;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: $color-nanolight;
        border: none;
        outline: none;
        padding: 0.75rem 1rem;
        box-sizing: border-box;
        color: $color-white;
        font-family: $font-stack;
        font-size: $font-size-normal;
        flex-grow: 1;
    }

    #expires-in
    {
        .dropdown
        {
            .label
            {
                border-radius: 0;
            }

            .dropdown-content .clickable
            {
                padding: 0.75rem 1rem;
            }
        }
    }
}

.pasty-editors
{
    .pasty-editor
    {
        margin-top: 25px;

        .pasty-title
        {
            display: flex;

            input[name="pasty-title"]
            {
                border-top-left-radius: $border-radius-std;
                background-color: $color-nanonotsolight;
                border: none;
                outline: none;
                padding: 0.75rem 2rem;
                box-sizing: border-box;
                color: $color-white;
                font-family: $font-stack;
                font-size: $font-size-normal;
                flex-grow: 1;
                border: 2px solid $color-mystge;
                border-bottom: none;
                border-right: none;
            }

            .language
            {
                .label
                {
                    border-radius: 0;
                    background-color: $color-nanonotsolight;
                    border-top: 2px solid $color-mystge;
                }

                .dropdown-content
                {
                    .clickable
                    {
                        padding: 0.75rem 1rem;
                        border-bottom-right-radius: 0;
                        width: 300px;
                        background-color: $color-nanonotsolight;
                        border: 2px solid $color-mystge;
                        border-bottom: none;
                        border-left: none;
                    }

                    .selectable
                    {
                        width: 332px;
                        background-color: $color-nanonotsolight;
                        border: none;

                        input
                        {
                            background-color: $color-nanonotsolight;
                        }

                        .item:hover
                        {
                            background-color: $color-nanolight;
                        }
                    }
                }
            }
        }

        .CodeMirror
        {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin-top: 0;
            border: 2px solid $color-mystge;
            border-top: none;
        }
    }
}

.pasty-button
{
    margin-top: 25px;
    display: block;
}

// .options
// {
//     display: flex;
//     justify-content: space-between;

//     @media screen and (max-width: 720px)
//     {
//         flex-direction: column;

//         #language
//         {
//             margin-top: 25px;
//         }
//     }
// }

// #title-input
// {
//     margin-top: 25px;
//     width: 100%;
//     border-radius: $border-radius-std;
//     background-color: $color-nanolight;
//     border: none;
//     outline: none;
//     padding: 0.75rem 1rem;
//     box-sizing: border-box;
//     font-size: $font-size-normal;
//     color: $color-white;
//     font-family: $font-stack;
// }

.CodeMirror
{
    margin-top: 25px;
    border-radius: $border-radius-std;
    font-size: $font-size-code;
    font-family: $font-stack;
    height: 50vh;
    line-height: 1.25;
}

.cm-s-darcula.CodeMirror
{
    background-color: $color-nanolight;

    .CodeMirror-gutters
    {
        background-color: $color-nanolight;
        border: none;
    }

    .CodeMirror-scrollbar-filler
    {
        background-color: $color-nanolight;
    }
}

.create-options
{
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
    flex-direction: row-reverse;

    .private-checkbox
    {
        label
        {
            margin-right: 10px;
        }
    }
}
