#paste-header
{
    background-color: $color-nanolight;
    border-radius: $border-radius-std;
    padding: 0.75rem 1rem;
    margin-bottom: 25px;

    .title
    {
        margin: 0;
        padding: 0;

        .lock
        {
            display: none;
            width: 20px;
            margin-right: 5px;
            color: $color-nanolightlight;
        }

        p
        {
            margin: 0;
        }
    }
}

#paste-pasties
{
    .pastie
    {
        margin-bottom: 25px;

        .pastie-header
        {
            background-color: $color-nanonotsolight;
            border-top-left-radius: $border-radius-std;
            border-top-right-radius: $border-radius-std;
            border: 2px solid $color-mystge;
            border-bottom: none;
            display: flex;
            justify-content: space-between;
            padding: 0.75rem 2rem;

            .title
            {
                margin: 0;
                align-self: center;
            }

            .raw
            {
                background-color: $color-nano;
                padding: 0.25rem 0.75rem;
                border-radius: $border-radius-std;
            }
        }

        .pastie-content
        {
            .CodeMirror
            {
                margin-top: 0;
                height: auto;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border: 2px solid $color-mystge;
                border-top: none;
            }
        }
    }
}

#paste-meta
{
    background-color: $color-nanolight;
    border-radius: $border-radius-std;
    padding: 0.75rem 1rem;

    p
    {
        margin: 0;
    }

    .created-at
    {
        margin-bottom: 25px;
    }
}
