#profile-header
{
    width: 100%;
    background-color: $color-nanolight;
    border-radius: $border-radius-std;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    .avatar
    {
        width: 50px;
        height: 50px;
        border-radius: $border-radius-std;
        margin-right: 15px;
    }

    .logout
    {
        align-self: center;
        margin-left: auto;
    }

    .username
    {
        margin: 0;
        align-self: center;
    }
}

#profile-pastes
{
    list-style: none;
    padding: 0;

    .paste
    {
        margin-bottom: 1em;
        
        a
        {
            box-sizing: border-box;
            display: block;
            background-color: $color-nanolight;
            border-radius: $border-radius-std;
            padding: 0.5em 1em;
            border: 2px solid $color-nanolight;

            &:hover
            {
                border-color: $color-mystlue;
            }

            .title
            {
                font-size: $font-size-medium;
                margin: 0;
                margin-bottom: 15px;
            }

            .info
            {
                margin: 0;
                color: $color-white;
                font-size: $font-size-small;

                .created-at, .expires-in
                {
                    background-color: $color-nano;
                    border-radius: $border-radius-std;
                    margin: 0;
                    margin-right: 15px;
                    padding: 6px;
                }
            }
        }
    }
}
