@font-face
{
    font-family: UbuntuMono;
    src: url('../assets/fonts/UbuntuMono-R.ttf');
    font-weight: normal;
    font-display: swap;
}

@font-face
{
    font-family: UbuntuMono;
    src: url('../assets/fonts/UbuntuMono-B.ttf');
    font-weight: bold;
    font-display: swap;
}

@font-face
{
    font-family: UbuntuMono;
    src: url('../assets/fonts/UbuntuMono-RI.ttf');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face
{
    font-family: UbuntuMono;
    src: url('../assets/fonts/UbuntuMono-BI.ttf');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
