@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "mixins.scss";

:root {
    --color-cod-gray: #141414;
    --color-cod-gray-light: #1c1c1c;
    --color-mineshaft: #222222;
    --color-boulder: #777777;
    --color-white: #cccccc;

    --color-main: #ee720d;
    --color-accent: #1eaedb;
    --color-red: #ff4c4c;
    --color-green: #2ec933;

    --fontsize-small: 0.9em;
    --fontsize-normal: 1em;
    --fontsize-medium: 1.2em;
    --fontsize-large: 1.5em;

    --border-radius: 0.2em;

    --fontstack: "Ubuntu Mono", monospace;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body,
#svelte {
    font-size: var(--fontsize-normal);
    font-family: var(--fontstack);
    background-color: var(--color-cod-gray);
    color: var(--color-white);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    max-width: 90%;
    width: 1280px;
    margin: 0 auto;
    flex: 1 0 auto;
}

h1 {
    margin: 0;
}

a {
    color: var(--color-main);
    text-decoration: none;
    @include transition();
}

a:hover {
    color: var(--color-accent);
}

ion-icon {
    display: block;
    visibility: visible;
    pointer-events: none;
}

.cm-editor:focus,
.cm-focused {
    outline: none !important;
}

.cm-editor {
    height: 100%;
}

.cm-wrap {
    height: 100%;
}

.cm-scroller {
    overflow: auto;
}

input[type="text"],
input[type="password"] {
    background-color: var(--color-cod-gray-light);
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    padding: 0.5em 1em;
    color: var(--color-white);
}

/* tooltips */

[data-tooltip] {
    position: relative;
    z-index: 2;
    display: block;
}

[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    @include transition();
    transform: translate(-50%, 5px);
}

[data-tooltip]:before {
    position: absolute;
    bottom: 100%;
    left: 40%;
    margin-bottom: 5px;
    padding: 7px;
    width: 100%;
    min-width: 120px;
    max-width: 350px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: var(--color-cod-gray-light);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: var(--fontsize-small);
    line-height: 1.2;
    @include transition();
}

[data-tooltip]:after {
    position: absolute;
    bottom: 100%;
    left: 40%;
    width: 0;
    border-top: 5px solid var(--color-cod-gray-light);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
}

[data-tooltip="false"]:hover:before,
[data-tooltip="false"]:hover:after {
    visibility: hidden;
    opacity: 0;
}

/* tablist sorting */

.tabs .tablist .sortable-drag {
    display: none;
}

.tabs .tablist .sortable-chosen {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 10;
    background-color: var(--color-mineshaft);
}

/* select */

.text-input .select .select {
    width: 150px !important;
    text-transform: lowercase;
}

.text-input .select input {
    text-transform: lowercase;
}

.text-input .select .value {
    background-color: var(--color-cod-gray-light) !important;
}

.text-input .select .container {
    justify-content: space-between;
}

.text-input .select .dropdown {
    background-color: var(--color-cod-gray-light) !important;
    border-top: 2px solid var(--color-main);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* shiki */

.shiki {
    margin: 0;
    line-height: 1.4;
    font-size: var(--fontsize-normal);
    font-family: var(--fontstack);
    padding-left: 0.3em;
    padding-top: 0.25em;

    code {
        counter-reset: step;
        counter-increment: step 0;
        font-family: var(--fontstack);

        .line::before {
            content: counter(step);
            counter-increment: step;
            width: 1em;
            margin-right: 1.18em;
            display: inline-block;
            text-align: right;
            color: #777777;
        }
    }
}
