#api-docs .method
{
    color: var(--color-mystge);
    font-size: var(--font-size-normal);
    display: inline-block;
    margin-bottom: 20px;
}

#api-docs .method ~ code
{
    font-size: var(--font-size-small);
    position: absolute;
    margin-left: 10px;
    margin-top: 2px;
}

#api-docs .method ~ code .var
{
    color: var(--color-mystge);
}
