@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --color-cod-gray: #141414;
    --color-cod-gray-light: #1c1c1c;
    --color-mineshaft: #222222;
    --color-boulder: #777777;
    --color-white: #cccccc;

    --color-main: #ee720d;
    --color-accent: #1eaedb;
    --color-red: #ff4c4c;
    --color-green: #2ec933;

    --fontsize-small: 0.9em;
    --fontsize-normal: 1em;
    --fontsize-medium: 1.2em;
    --fontsize-large: 1.5em;

    --border-radius: 0.2em;

    --fontstack: "Ubuntu Mono", monospace;
}

* {
    box-sizing: border-box;
}

body {
    font-size: var(--fontsize-normal);
    font-family: var(--fontstack);
    background-color: var(--color-cod-gray);
    color: var(--color-white);
    margin: 0;
    padding: 0;
}

main {
    max-width: 90%;
    width: 1280px;
    margin: 0 auto;
}

h1 {
    margin: 0;
}

a {
    color: var(--color-main);
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

a:hover {
    color: var(--color-accent);
}

ion-icon {
    display: block;
}

.cm-editor:focus, .cm-focused {
    outline: none !important;
}

.cm-editor {
    height: 100%;
}

.cm-wrap {
    height: 100%;
}

.cm-scroller {
    overflow: auto;
}

/* tooltips */

[data-tooltip] {
    position: relative;
    z-index: 2;
    display: block;
}

[data-tooltip]:before, [data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.05s ease-out;
    transform: translate(-50%, 5px);
}

[data-tooltip]:before {
    position: absolute;
    bottom: 100%;
    left: 40%;
    margin-bottom: 5px;
    padding: 7px;
    width: 100%;
    min-width: 120px;
    max-width: 350px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: var(--color-cod-gray-light);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: var(--fontsize-small);
    line-height: 1.2;
    transition: .05s ease-out;
}

[data-tooltip]:after {
    position: absolute;
    bottom: 100%;
    left: 40%;
    width: 0;
    border-top: 5px solid var(--color-cod-gray-light);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

[data-tooltip]:hover:before, [data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
}

[data-tooltip=false]:hover:before, [data-tooltip=false]:hover:after {
    visibility: hidden;
    opacity: 0;
}

/* ******* */

input[type=text],
input[type=password] {
    background-color: var(--color-cod-gray-light);
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    padding: 0.5em 1em;
    color: var(--color-white);
}