@import "../variables";

#language
{
    .clickable
    {
        width: 200px;
    }
    
    .selectable
    {
        width: 232px;
    }
}

.dropdown
{
    display: inline-flex;
    flex-direction: row;

    .label
    {
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: $color-nanolight;
        border-top-left-radius: $border-radius-std;
        border-bottom-left-radius: $border-radius-std;

        p
        {
            margin: 0;
            padding-left: 1rem;
            align-self: center;
        }
    }

    .dropdown-content
    {
        flex-direction: column;
    }

    .clickable
    {
        background-color: $color-nanolight;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: $border-radius-std;
        color: $color-white;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        width: 100px;

        &:hover
        {
            cursor: pointer;
        }

        p
        {
            margin: 0;
        }

        .caret
        {
            align-self: center;
            fill: $color-white;
            transform: rotate(180deg);
            transition: all 250ms ease-in-out;
            width: 15px;
        }
    }

    .selectable
    {
        background-color: $color-nanolight;
        border-bottom-left-radius: $border-radius-std;
        border-bottom-right-radius: $border-radius-std;
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 132px;
        z-index: 999;

        .search
        {
            border: none;
            border-radius: 0;
            outline: none;
            padding: 0.5rem 1rem;
            background-color: $color-nanolight;
            color: $color-white;
            font-family: $font-stack;
        }

        .items
        {
            max-height: 200px;
            overflow-y: auto;

            .item
            {
                border-radius: 0.3rem;
                color: $color-white;
                padding-bottom: 0.5rem;
                padding-left: 1rem;
                padding-right: 1rem;
                padding-top: 0.5rem;

                &:hover
                {
                    background-color: $color-nanonotsolight;
                    cursor: pointer;
                }

                &.hidden
                {
                    display: none;
                }
            }

            .selected
            {
                background-color: $color-nanonotsolight;
                color: $color-mystge;
            }

            .not-found
            {
                color: $color-white;
                text-align: center;

                &.hidden
                {
                    display: none;
                }
            }
        }
    }

    &.hidden
    {
        .clickable
        {
            border-top-right-radius: $border-radius-std;
            border-bottom-right-radius: $border-radius-std;

            .caret
            {
                transform: rotate(0deg);
            }
        }

        .selectable
        {
            display: none;
        }
    }
}
