@import "../variables";

h1
{
    font-size: $font-size-big;
    font-weight: normal;
    font-family: $font-stack;
    margin-top: 0;

    .icon
    {
        margin-right: 20px;
        width: 50px;
        position: relative;
        top: 10px;
    }
}