.dropdown.hidden
    .label
        p label:
    .dropdown-content
        .clickable
            p.selected loading...
            ion-icon.caret(name="arrow-dropdown")
        .selectable
            input.search(type="text", name="search", placeholder="search...", autocomplete="off")
            .items
                //- .item never
                p.not-found.hidden no items found
