h1
    img.icon(src="/assets/icons/pastemyst.svg", alt="icon")
    a(route="/") PasteMyst

//- TODO: Add a proper changelog link
p.description
    | a simple website for storing and sharing code snippets.
    | version 2.0.0 (#[a(href="#", target="_blank") changelog]).
