mixin modal(name, title, buttonHref, buttonText)
    .modal(id=name)
        .content
            .head
                p.title= title
                ion-icon.exit(name="close")
            .body
                block
            .footer
                a(href=buttonHref)=buttonText
