nav
    ul
        li
            a(route="/") home
            |  - 
        li
            a#login(href="http://localhost:5000/auth/github") login
            |  - 
        li
            a(href="https://github.com/codemyst/pastemyst", target="_blank") github
            |  - 
        li
            a(href="/api-docs") api docs
