nav
    ul
        li
            a(href="/") home
            |  - 
        li
            a(href="/login") login
            |  - 
        li
            a(href="https://github.com/codemyst/pastemyst", target="_blank") github
            |  - 
        li
            a(href="/api-docs") api docs
