.title
    input#title-input(type="text", name="title", placeholder="title (optional)", autocomplete="off")
    #expires-in
        include components/dropdown

.pasty-editors
    .pasty-editor
        .pasty-title
            .delete-button
                ion-icon(name="trash")
            input(type="text", name="pasty-title", placeholder="pasty title (optional)", autocomplete="off")
            .language
                include components/dropdown
        textarea(autofocus)

.flex-row-space-between
    a.pasty-button
        ion-icon(name="add")
        p add another pasty
    .private-checkbox
        label.disabled private
            input(type="checkbox", disabled)
            span.checkmark
        .tooltip(data-tooltip="You need to be logged in to create private pastes.")
            ion-icon(name="information-circle")

a.button#create-button create
