<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="styles/styles.css")
    body
        div.container
            include components/header

            include components/navigation

            .options
                #expires-in
                    include components/dropdown

                #language
                    include components/dropdown

            textarea#editor

        script(data-main="scripts/app", src="scripts/require.js")
