<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title PasteMyst
        link(rel="stylesheet", href="styles/styles.css")
        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    body
        div.container
            include components/header

            include components/navigation

            .options
                #expires-in
                    include components/dropdown

                #language
                    include components/dropdown

            input.title-input(type="text", name="title", placeholder="title (optional)")

            textarea#editor(autofocus)

        script(data-main="scripts/app", src="scripts/require.js")
