#paste-header
    .title
        img.lock(src="/assets/icons/lock.svg")
        p

#paste-pasties
    .pastie
        .pastie-header
            p.title
            a.raw raw
        .pastie-content
            textarea

#paste-meta
    p.created-at
        span.highlight created at:
    p.expires-in
        span.highlight expires in:
