include components/modal

+modal("login-modal", "login", "http://api.paste.myst/auth/github", "login with github")
    p logging in with github you'll be able to do many more things, like seeing a list of all pastes you made, creating private pastes which can only be accessed with your account, labeling pastes and organizing them, and much more.
    p only your github id and username will be stored to uniquely identify you and nothing more.

include components/header

include components/navigation

#paste-header
    p.title
    a.raw raw

textarea#paste-content

#paste-meta
    p.created-at
        span.highlight created at:
    p.expires-in
        span.highlight expires in:

include components/footer
