#paste-header
    .title
        img.lock(src="/assets/icons/lock.svg")
        p
    a.raw raw

textarea#paste-content

#paste-meta
    p.created-at
        span.highlight created at:
    p.expires-in
        span.highlight expires in:
