#profile-header
    img.avatar
    p.username
    a.logout logout

ul#profile-pastes
    li.paste
        a(route="")
            .title
                ion-icon.lock(name="lock")
                p
            p.info
                span.created-at
                span.expires-in
